<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Frank</title>
        <link rel="stylesheet" type="text/css" href="Aset/styles.css">
        <link rel="icon" href="Aset/favicon.ico">
    </head>
    <body>
        <div class="topcontainer">
            <img class="top-cloud" src="Aset/gambar/cloud.png" alt="cloud-image">
            <h1>Frank</h1>
            <p>a student</p>
            <img class="bottom-cloud" src="Aset/gambar/cloud.png" alt="cloud-image">
            <img src="Aset/gambar/mountain.png" alt="mountain-image">
        </div>
        <div class="middle-container">
            <div class="profile">
              <img src="Aset/gambar/doomer.jpg" alt="doomer-img">
              <h2>Hello.</h2>
              <p>I'm Frank. Currently i'm a student of Telkom University and i'm in the 6th semester this year.</p>
            </div>
            <hr>
            <div class="skills">
              <h2>My Skills.</h2>
              <div class="skill-row">
                <img class="networking" src="Aset/gambar/computer.png" alt="computer-img">
                <h3>Networking</h3>
                <p class="net">I could configure the network. I have a CCNA certification, which means i'm amazing. I love myself, you are the worst.</p>
              </div>
              <div class="skill-row">
                <img class="web" src="Aset/gambar/web-design.png" alt="web-dev">
                <h3>Web Designer</h3>
                <p class="webb">I'm so freakin' good at designing things, including the website. I literally spent only 15 minutes to get the website done.</p>
              </div>
            </div>
            <hr>
            <div class="contact-me">
              <h2>Get In Touch</h2>
              <h3>If you interested in me,</h3>
              <p>you can follow me on</p>
              <a class="btn" href="example@yahoo.com">CONTACT ME</a>
            </div>
          </div>
          
          
          <div class="bottom-container">
            <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
            <a class="footer-link" href="https://twitter.com/">Twitter</a>
            <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
            <p class="surname">© 2018 Franklin Joseph.</p>
          </div>
          
    </body>
</html>